<div class="container-fluid" style="width: 50%">
  <div class="card text-center">
    <div class="d-flex flex-row-reverse">
      <img
        class="card-img-top"
        src="../../../assets/photodemo.jpeg"
        alt="Card image cap"
      />
    </div>

    <div class="card-body" style="text-align: center">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.description }}</p>

      <b>Price </b>{{ product.price }} BDT<br />
      <b>BoxSize </b>{{ product.boxsize }}
    </div>
    <div class="card-footer text-success"><b>available</b></div>
  </div>
</div>
