<div class="alert alert-warning" role="alert" style="text-align: center">
  <b>This site is under construction</b>
</div>
<section>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a
      class="navbar-brand"
      href="#About"
      style="font-family: 'Redressed', cursive"
    >
      <h3 class="m-2">Fast <span style="color: rgb(230, 20, 62)">Med</span></h3>
    </a>

    <div class="header">
      <div>
        <ul
          class="nav"
          style="
            font-size: larger;
            font-family: 'Syne Mono', monospace;
            color: whitesmoke;
          "
        >
          <li class="p-4">
            <a routerLink="/home">Home</a>
          </li>
          <li class="p-4">
            <a routerLink="/addproduct">Add Product</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>
