<!-- Footer -->
<footer
  class="page-footer font-small pt-4 mt-5"
  style="color: white; background-color: #1c2331; font-size: 1em"
>
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <h5 class="font-weight-bold text-uppercase">FastMed</h5>
        <hr
          class="mb-4 mt-0 d-inline-block mx-auto"
          style="width: 70px; background-color: #33b5e5"
        />
        <p>© 2021 Copyright: fastMed</p>
      </div>

      <div class="col-md-4 mx-auto">
        <h5 class="font-weight-bold text-uppercase">CONTACT</h5>
        <hr
          class="mb-4 mt-0 d-inline-block mx-auto"
          style="width: 70px; background-color: #33b5e5"
        />
        <ul class="list-unstyled">
          <p>
            <i class="fa fa-home mr-3" aria-hidden="true"></i>
            Uttara,Dhaka-1230,Bangladesh
          </p>
          <p><i class="fa fa-envelope mr-3"></i> fastmedinfo@gmail.com</p>
          <p><i class="fa fa-phone mr-3"></i>+880 193 730 0896</p>
        </ul>
      </div>
    </div>
  </div>

  <hr style="background-color: red; width: 50%" />
</footer>
